<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ head_placeholder }}">
    <title>{{ head_title }}</title>
    <css-placeholder token="{{ css_placeholder }}">
    <js-placeholder token="{{ js_placeholder }}">
  </head>
  <body>
    <header>{{ page.header }}</header>
    <main role="main">{{ page.content }}</main>
    <footer>{{ page.footer }}</footer>
  </body>
</html>